@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400..600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: Outfit;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    margin-top: 16px;

}
.logo span{
    margin-top: 10px;
    font-size:16px;
    font-weight: 400;
    padding-right:px;
}

.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    width: 296px;
    height:340px ;
    padding: 20px 26px;
    margin: 20px auto 26px auto;

}

.card h1{
    font-weight: 200;
    font-size: 31px;
    line-height: 1.2;
   
}
.card label{

    font-size: 15px;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}
.card input{
    width: 272px;
    height: 25px;
    padding:  3px 7px;
    margin-top: 3px;
    background-color: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 3px;

}
.card button{
    width: 288px;
    height: 31px;
    margin-top: 15px;
    background-color: #f0c14b;
    border: 1px solid #a6a6a6;
    border-top-color: #949494;
    background-image: linear-gradient(#f7da90,#e2b33b);
    border-radius: 3px;
}
.card button a{
color: #000;}

.card p , .card p a{
  margin-top: 18px;
    font-size: 12px;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color: #0066c0;
}
.card a{
    margin-top: 10px;
    font-size: 14px;
  
}

.new-form{
    padding: 0;
    width: 25%;
    margin: 10px 0;
    margin-left: 538px;
  }
  
  .line-new{
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  .line {
    width: 100%;
    height: 1px;
    background-color: rgba(44, 44, 44, 0.15);
    margin: 5px;
  }
  
  .amazon{
    display: flex;
    font-size: 12px;
    font-weight: 400;
    width: 100%;
    margin: 0 10px;
  
  }
  
  .btn-two {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 0.01px solid #a6a6a6 ;
    height: 30px;
    width: 97%;
    margin: 10px 0;
    font-size: 13px;
    border-radius: 5px;
  
  }
  
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  ul{
    display: flex;
    margin: 5px;

  }
  .footer-one ul{
    gap: 8px;
  }
  
  li{
    margin: 0 5px;
    list-style: none;
    font-size: 12px;
    font-weight: 400;
    
  }
  
  [href]{
    text-decoration: none;
  }
  
  .footer{
    border-top: 1px solid rgba(128, 128, 128, 0.479);
    margin-top: 30px;
  }
  
  .footer-main{
    background-color: rgba(112, 111, 111, 0.048);
    width: 100%;
    height: 2vh;
  }
  
  .footer-one{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
  
  }
  #r{
    font-weight: 700;
    font-size: 13px;
    margin-top: 10px;
  }
  .icon img{
    width: 8px;
  
  }

  .line{
    margin-top: 18px;
  }
  